.about {
    width: 100%;
    padding-top: 5.5rem;
    position: relative;
  }
  
  .about::before {
    content: '';
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #e1e0e0 url('../../assets/World_map_blank_without_borders.svg.png') no-repeat center center/cover;
    opacity: 0.2;
    z-index: -1;
  }



/* .about {
    width: 100%;
    padding-top: 4rem;
    background: rgb(255, 255, 255) url('../../assets/World_map_blank_without_borders.svg.png') no-repeat center center/cover;
  } */
.aboutContainer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.aboutContainer h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: .5rem;
}
.aboutContainer hr {
    border: none;
    width: 80px;
    height: 2px;
    background-color: green;
    margin-bottom: 1rem;
}
.aboutContainer p {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
}
.aboutChildHolder {
    display: flex;
}
.aboutChild {
    background-color: white;
    width: 100%;
    height: auto;
    margin-left: 1.5rem;
    box-shadow: 4px 4px 4px 4px rgba(220, 220, 220, 0.424);
}
.aboutChild .childTop {
    width: 100%;
    height: 250px;
    /* max-width:max-content; */
    background: url('../../assets/about-mission.jpg') no-repeat center center/cover;
    margin-right: 1rem;
}
.aboutChild .childTop1 {
    width: 100%;
    height: 250px;
    /* max-width:max-content; */
    background: url('../../assets/about-vision.jpg') no-repeat center center/cover;
    margin-right: 1rem;
}
.aboutChild .childTop2 {
    width: 100%;
    height: 250px;
    /* max-width:max-content; */
    background: url('../../assets/about-plan.jpg') no-repeat center center/cover;
    margin-right: 1rem;
}
.aboutChild .childBottom {
    margin-right: 1rem;
    background: white;
}
.aboutChild .childBottom h4 {
    font-size: 18px;
    font-weight: 450;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.aboutChild .childBottom p {
    width: 88%;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-left: 1.5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
}
.aboutChild .iconHold {
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2rem;
    left: 10rem;
    border: 3px solid white;
}

@media screen and (max-width:760px) {
    .aboutChildHolder {
        display: flex;
        flex-direction: column;
    }
}