.itC {
  width: 100%;
  padding-top: 8rem;
}
.itcontainer {
  max-width: 1300px;
  margin: 0 auto;
}
.itcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itcontent hr {
  border-bottom: 1px solid green;
  margin-top: -9px;
  margin-bottom: 1rem;
  width: 65px;
  height: 0;
}
.itcontent p {
  font-size: 15px;
  margin-bottom: 1.5rem;
}
.itcontent img {
  width: 750px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 760px) {
  .itcontent img {
    width: 100%;
  }
}